h1{
    text-align: center;
}

.footer-nav {
    align-items: center;
    background-color: #8C52FF;
    padding: 2rem;
    width: 100%;
}
.row.expanded {
    max-width: none;
}
.row {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
}

.hero-form h3{
    margin: 0px;
    font-size: 24px;
}
.hero-form p{
margin: 5px 0 15px 0;
}
.form-input{
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

/* create a new rule for focus state */
.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.hero-form label{
    margin: 0 5px;
}
.hero-form button{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.hero-form button:hover {
    background-color: #39a6b2;  
}

.hero{
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    /*This is to add flex on the .hero element*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}
.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
.hero-cta h2{
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero-form{
    background-color: white;
    padding: 20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);/*This could be the alternative you can put so you dont write border-style, border-width, and border-color:border: solid 3px #024e76*/
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* This is to make the form have a shadow */
    border-radius: 15px;
    opacity: 70%;
}
@media only screen and (max-width: 800px){
    .hero-form{
        width: fit-content;
    }

    .hero-cta {
        width: 100%;
        text-align: center;
        margin: 3.5%;
        color: #fff;
        font-size: 18px;
        line-height: 1.2;
    }
}